@import "./variables";

.canvas {
  height: 100vh;
  display: flex;
  flex-direction: column;  /* Добавляем вертикальное расположение */
  justify-content: center;
  align-items: center;
}


canvas {
  cursor: crosshair; /* Базовый стиль курсора для холста */
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-top: 80px;
  margin-bottom: 10px;
  touch-action: none;
}

canvas.rect-cursor {
  cursor: url('../assets/img/brush.png') 0 25, auto; 
}

canvas.circle-cursor {
  cursor: url('../assets/img/brush.png') 0 25, auto; 
}

canvas.line-cursor {
  cursor: url('../assets/img/brush.png') 0 25, auto; 
}

canvas.brush-cursor {
  cursor: url('../assets/img/brush.png') 0 25, auto; 
}

canvas.eraser-cursor {
  cursor: url('../assets/img/eraser.png') 0 25, auto; 
}

button {
  font-family: "Comic Sans MS", "Comic Sans", cursive; /* Мультяшный шрифт */
  background: linear-gradient(135deg, #ffcc00, #ff6699); /* Градиентный фон */
  border: none; /* Убираем стандартные границы */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Легкая тень */
  color: white; /* Цвет текста */
  font-size: 18px; /* Размер шрифта */
  padding: 5px 10px; /* Внутренние отступы */
  cursor: pointer; /* Указатель мыши для интерактивности */
  transition: all 0.3s ease; /* Плавность переходов */
}

button:hover {
  transform: scale(1.05); /* Увеличение при наведении */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Более заметная тень */
}

button:active {
  transform: scale(0.9); /* Сжатие при нажатии */
}

.btn-close {
  position: absolute;
  top: 10px; /* Расположение сверху */
  right: 10px; /* Расположение справа */
  width: 30px; /* Размер кнопки */
  height: 30px; /* Размер кнопки */
  background: transparent; /* Без фона */
  border: none; /* Убираем стандартные границы */
  cursor: pointer; /* Указатель мыши */
}

.btn-close::before, .btn-close::after {
  content: '';
  position: absolute;
  width: 20px; /* Длина линии */
  height: 3px; /* Толщина линии */
  background-color: #ffcc00; /* Цвет линий */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg); /* Первая линия */
}

.btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg); /* Вторая линия */
}

.btn-close:hover::before, .btn-close:hover::after {
  background-color: #ff6699; /* Цвет линий меняется на золотистый */
  transition: background-color 0.3s ease;
}

.modal-content {
  font-family: "Comic Sans MS", "Comic Sans", cursive; /* Мультяшный стиль текста */
  background: #676767c3; 
  border-radius: 10px; /* Округлые углы */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Тень для объема */
  padding: 20px; /* Внутренние отступы */
}

.modal-header {
  font-size: 15px;
  color: #ffcc00; /* Яркий акцент цвета */
  display: flex;
  justify-content: center;
}



.modal-footer button {
  font-family: "Comic Sans MS", "Comic Sans", cursive; /* Мультяшный шрифт */
  background: #ffcc00; /* Яркий фон кнопки */
  color: #333; /* Цвет текста */
  border-radius: 10px; /* Округление углов */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Легкая тень */
  transition: all 0.3s ease;
}

.modal-footer button:hover {
  transform: scale(1.1); /* Увеличение при наведении */
  background: #ff6699; /* Смена цвета кнопки */
}




@media only screen and (max-width: 768px) {
  canvas {
    width: 100%; /* Холст занимает всю доступную ширину */
    height: auto; /* Высота сохраняет пропорции */
  }
}
